:root {
  /* TEXT AND LINKS */
  --text-color: transparent;
  --text-color-alt: transparent;

  /* MASTER SECTIONS BACKGROUNDS */
  --header-background: none;

  /* BACKGROUNDS */
  --background: transparent;
}
