:root {
  /* TEXT AND LINKS */
  --text-color: #211A24;
  --text-color-alt: #BCBABD;

  /* MASTER SECTIONS BACKGROUNDS */
  --header-background: #FFFDF9;

  /* BACKGROUNDS */
  --background: #FFF7EA;
  --background-alt: #FFFAF2;
  --background-accent: #F3DEBB;

  /* PRIMARY */
  --dot-shadow: #C665CF;
}
