.hero {
  display: flex;
  padding-left: 5em;
  align-items: center;
  justify-content: space-between;
}
.hero > .heading > .title {
  font-size: 3em;
}
.hero > .heading > .subtitle {
  font-size: 1.5em;
}
.hero > .heading > .play {
  display: flex;
  grid-gap: 1em;
  width: max-content;
  padding: 0.75em 2em;
  align-items: center;
  border-radius: 0.75em;
  border: 2px solid var(--text-color);
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
.hero > .heading > .play > svg {
  height: 1.5em;
}
.hero > .heading > .play:hover, .hero > .heading > .play:focus {
  color: var(--background);
  background-color: var(--text-color);
}
.hero > .icons-container {
  width: 30%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--background-accent);
}
.hero > .icons-container > .grid {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  transform: translateX(-50%);
}
.hero > .icons-container > .grid > .line {
  display: flex;
  align-items: center;
}
.hero > .icons-container > .grid > .line > .item {
  width: 7.5em;
  display: block;
  aspect-ratio: 1/1;
}
.hero > .icons-container > .grid > .line > .item[ta-moman="1"] {
  border-radius: 50% 1.25em;
  background-color: var(--background-accent);
}
.hero > .icons-container > .grid > .line > .item[ta-moman="2"] {
  border-radius: 50%;
  background-color: var(--background);
}
.hero > .icons-container > .grid > .line > .item[ta-moman="3"] {
  transform: translateX(-100%);
  background-color: var(--dot-item-1);
  border-radius: 50% 1.25em 1.25em 50%;
}
.hero > .icons-container > .grid > .line > .item[ta-moman="4"] {
  border-radius: 1.25em 50%;
  background-color: var(--background-darker);
}
.hero > .icons-container > .grid > .line > .item[ta-moman="5"] {
  border-radius: 1.25em;
  background-color: var(--background-accent);
}
.hero > .icons-container > .grid > .line > .item[ta-moman="6"] {
  background-color: var(--dot-item-2);
  border-radius: 1.25em 50% 50% 1.25em;
}
.hero > .icons-container > .grid > .line > .item[ta-moman="7"] {
  border-radius: 50%;
  background-color: var(--dot-item-3);
}
.hero > .icons-container > .grid > .line > .item[ta-moman="8"] {
  border-radius: 1.25em 1.25em 50% 50%;
  background-color: var(--background);
}

.grids {
  display: flex;
  grid-gap: 4rem;
  flex-direction: column;
  padding: calc(var(--default-horizontal-padding) / 2) var(--default-horizontal-padding);
}
.grids > .header {
  margin: 0;
}
.grids > .showcase {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 8rem;
  align-items: center;
  justify-content: center;
}
.grids > .showcase > .size {
  display: flex;
  flex: 0 0 auto;
  grid-gap: 1rem;
  align-items: center;
  flex-direction: column;
}
.grids > .showcase > .size > .title {
  font-weight: 700;
  line-height: 175%;
  font-size: 1.25rem;
}
.grids > .showcase > .size > .grid {
  width: 272px;
  display: grid;
}
.grids > .showcase > .size > .grid > .section > .cells {
  display: grid;
  grid-gap: 0.25rem;
}
.grids > .showcase > .size > .grid > .section > .cells > .cell {
  user-select: none;
}
.grids > .showcase > .size:nth-child(1) > .grid {
  grid-gap: 15.11px;
  grid-template-columns: repeat(2, 1fr);
}
.grids > .showcase > .size:nth-child(1) > .grid > .section > .cells {
  grid-gap: 7.56px;
  grid-template-columns: repeat(2, 1fr);
}
.grids > .showcase > .size:nth-child(1) > .grid > .section > .cells > .cell {
  font-size: 2rem;
  font-weight: 700;
  border-radius: 15px;
}
.grids > .showcase > .size:nth-child(2) > .grid {
  grid-gap: 6.64px;
  grid-template-columns: repeat(3, 1fr);
}
.grids > .showcase > .size:nth-child(2) > .grid > .section > .cells {
  grid-gap: 3.32px;
  grid-template-columns: repeat(3, 1fr);
}
.grids > .showcase > .size:nth-child(2) > .grid > .section > .cells > .cell {
  font-weight: 700;
  border-radius: 6px;
}
.grids > .showcase > .size:nth-child(3) > .grid {
  grid-gap: 3.73px;
  grid-template-columns: repeat(4, 1fr);
}
.grids > .showcase > .size:nth-child(3) > .grid > .section > .cells {
  grid-gap: 1.83px;
  grid-template-columns: repeat(4, 1fr);
}
.grids > .showcase > .size:nth-child(3) > .grid > .section > .cells > .cell {
  font-weight: 700;
  font-size: 0.5rem;
  border-radius: 3px;
}

.grids > .showcase > .size > .grid > .section > .cells > .cell {
  display: flex;
  aspect-ratio: 1/1;
  line-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--background-accent);
}

html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=home.css.map */
