.grids {
  display: flex;
  grid-gap: 4rem;
  flex-direction: column;
  padding: calc(var(--default-horizontal-padding) / 2) var(--default-horizontal-padding);

  // TODO: Remove statement
  > .header {
    margin: 0;
  }

  > .showcase {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 8rem;
    align-items: center;
    justify-content: center;

    > .size {
      display: flex;
      flex: 0 0 auto;
      grid-gap: 1rem;
      align-items: center;
      flex-direction: column;

      > .title {
        font-weight: 700;
        line-height: 175%;
        font-size: 1.25rem;
      }

      > .grid {
        width: 272px;
        display: grid;

        > .section > .cells {
          display: grid;
          grid-gap: .25rem;

          > .cell {
            user-select: none;
          }
        }
      }

      &:nth-child(1) {
        > .grid {
          grid-gap: 15.11px;
          grid-template-columns: repeat(2, 1fr);

          > .section > .cells {
            grid-gap: 7.56px;
            grid-template-columns: repeat(2, 1fr);

            > .cell {
              font-size: 2rem;
              font-weight: 700;
              border-radius: 15px;
            }
          }
        }
      }
      &:nth-child(2) {
        > .grid {
          grid-gap: 6.64px;
          grid-template-columns: repeat(3, 1fr);

          > .section > .cells {
            grid-gap: 3.32px;
            grid-template-columns: repeat(3, 1fr);

            > .cell {
              font-weight: 700;
              border-radius: 6px;
            }
          }
        }
      }
      &:nth-child(3) {
        > .grid {
          grid-gap: 3.73px;
          grid-template-columns: repeat(4, 1fr);

          > .section > .cells {
            grid-gap: 1.83px;
            grid-template-columns: repeat(4, 1fr);

            > .cell {
              font-weight: 700;
              font-size: .5rem;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
}

.grids > .showcase > .size > .grid > .section > .cells > .cell {
  display: flex;
  aspect-ratio: 1/1;
  line-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--background-accent);
}
